
  body {
    padding: 30px;
    font-family: Arial;
    font-size: 12px}

  form#filter {
    margin-bottom: 3em}

  x-table {display: table; border-collapse: collapse; width: 100%}
  x-head  {display: table-header-group; font-size: 14px}
  x-body  {display: table-row-group}
  x-foot  {display: table-footer-group; font-weight: bold}
  x-row   {display: table-row}
  x-cell  {display: table-cell; padding: 5px; border: 1px solid #aaa}

  x-row[data-type='category' ] x-cell {background: #eee; font-size: 14px; line-height: 1.5em}
  x-row[data-type='min-price'] x-cell {background: lightcoral}
  x-row[data-type='max-price'] x-cell {background: lightgreen}

  x-table[data-is-filtered='true'] x-row[data-role='item']                       {display: none}
  x-table[data-is-filtered='true'] x-row[data-role='item'][data-is-found='true'] {display: table-row}